---
import CardEsp from "../components/CardEsp.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="SYNERGOed - Especialidades">
    <CardEsp
        id="diseño-elaboracion"
        title="Diseño y Elaboración de Proyectos de Instalación Eléctrica"
        image="/dis-elec/dis-elec.jpeg"
    >
        <p>
            Elaboración del diseño y dimensionamiento de las redes eléctricas en
            interiores y exteriores en base a las necesidades propias del tipo
            de construcción, en cumplimiento a las norma vigente en nuestro
            territorio, para tal caso es la normativa NB-777.
            <br />
            <br />
            Contamos con profesionales Ingenieros avalados por la Sociedad de Ingenieros
            de Bolivia (SIB), capacitados y con una amplia experiencia en la elaboración
            de Proyectos Eléctricos.
        </p>
    </CardEsp>
    <CardEsp
        id="canalizacion-conduit"
        title="Instalación de Sistemas de Canalización Conduit"
        image="/ins-cod/ins-cod.jpeg"
    >
        <p>
            Se realizan diferentes tipos de canalizaciones eléctricas para
            instalaciones domiciliarias e industriales, dependiendo del lugar y
            las condiciones de las instalaciones eléctricas. Pueden ser
            metálicas, así como también las de PVC y/o polietileno.
            <br />
            <br />
            Las canalizaciones eléctricas protegen los conductores de un posible
            daño y garantizan su durabilidad, además una optima visibilidad.
        </p>
    </CardEsp>
    <CardEsp
        id="instalacion-bandeja"
        title="Instalación y Montaje de Bandejas Portacables"
        image="/ban-port/ban-port.jpeg"
    >
        <p>
            Realizamos el montaje y la instalación del sistema de bandejas porta
            cables, que pueden ser; escalera o escalerilla, bandeja perforada,
            bandeja lisa y de alambre o rejilla.
        </p>
    </CardEsp>
    <CardEsp
        id="mantenimiento-sistemas"
        title="Mantenimiento de Sistemas Eléctricos"
        image="/man-sise/man-sise.jpeg"
    >
        <p>
            Realizamos mantenimientos preventivos y correctivos de instalaciones
            eléctricas tales como:
        </p>
        <ul class="px-3">
            <li>Sistema eléctrico general.</li>
            <li>Estabilizadores de tensión</li>
            <li>Tableros eléctricos.</li>
            <li>Sistema de puesta a tierra, entre otros</li>
        </ul>
        <p>
            Para lo cual contamos con personal especializado para cada problema,
            cabe mencionar que utilizamos equipos certificados, en cada uno de
            nuestros servicios, además de ello ofrecemos garantía, seguridad y
            eficiencia en cada uno de los trabajos que realizamos. Todo nuestro
            personal realiza sus operaciones bajo las normas vigentes en nuestro
            territorio nacional (NB 777)
        </p>
    </CardEsp>
    <CardEsp
        id="estudio-luminotécnico"
        title="Estudio Luminotécnico"
        image="/est-lumin/est-lumin.jpeg"
    >
        <p>
            En SYNERGOed realizamos Estudios luminotécnicos para ofrecerle al
            cliente una vista previa del área que desea iluminar.
            <br />
            <br />
            Además el cliente recibirá un informe con todos los hallazgos y recomendaciones
            para mejorar o diseñar la iluminación y disminuir el gasto energético.
        </p>
    </CardEsp>
    <CardEsp
        id="instalacion-iluminacion"
        title="Instalación de sistemas de Iluminación Interior y Exterior"
        image="/inst-sisi/inst-sisi.jpeg"
    >
        <p>
            Realizamos todo tipo de instalación de luminarias y sistemas de
            iluminación en fachadas exteriores de edificios, monumentos o
            edificaciones singulares en general, así mismo en ambientes
            interiores de todo tipo de edificaciones; viviendas, industria,
            edificios, fachadas, etc.
        </p>
        <ul class="px-3">
            <li>
                Provisión e Instalación de sistemas de iluminación, tales como:
                LED, Fluorescentes, incandescentes, y alurometálico.
            </li>
            <li>
                Provisión e instalación de luminarias con sistema de
                dimerización, temporizador y luz inteligente
            </li>
        </ul>
    </CardEsp>
    <CardEsp
        id="automatizacion-sistemas"
        title="Automatización de Sistemas Eléctricos de Iluminación"
        image="/aut-sise/aut-sise.jpeg"
    >
        <p>
            Sabemos lo que necesita para lograr la automatización y gestión de sus
            instalaciones, sin dejar de cumplir con las normas de seguridad.
            <br />
            <br />
            Esto les permite brindarle la información que necesita, permitiéndole tomar
            decisiones más inteligentes mientras mejora la comodidad, la seguridad y
            la productividad de sus ocupantes.
        </p>
    </CardEsp>
    <CardEsp
        id="diseño-tableros"
        title="Diseño y Dotación de Tableros Eléctricos"
        image="/dis-tabl/dis-tabl.png"
    >
        <p>
            Los tableros eléctricos y los elementos de protección, que ofrecemos,
            están certificados según la norma IEC 61439, además diseñados por
            profesionales avalados por la Sociedad de Ingenieros de Bolivia (SIB) y
            elaborados bajo la Norma Boliviana 777.
            <br />
            <br />
            Loa tableros certificados, permiten facilitar modificaciones y/o ampliaciones,
            conservar la vida útil de los equipos y mejorar la seguridad.
            <br />
            Trabajamos con marcas reconocidas como: ABB, SCHNEIDER, SIEMENS, CEMAR, etc
        </p>
    </CardEsp>
    <CardEsp
        id="armado-tableros"
        title="Armado, Montaje e Instalación de Tableros Eléctricos"
        image="/armad-tabl/armad-tabl2.jpg"
    >
        <p>
            El proceso de armado, montaje e instalación de tableros eléctricos se
            realizan de manera eficiente, teniendo en cuenta la prevención y
            seguridad de cada uno de los procesos garantizando un trabajo de
            calidad.
            <br />
            <br />
            El trabajo que realizamos cumple con las normativas que permiten su correcto
            funcionamiento una vez energizado, garantizando la seguridad de las instalaciones
            en las cuales se encuentran ubicados.
        </p>
    </CardEsp>
    
    <CardEsp
        id="puesta-tierra"
        title="Sistemas de Puesta a Tierra"
        image="/puest-t/puest-t.png"
    >
        <p>
            El objetivo del Sistema de Puesta a Tierra principalmente es limitar la
            tensión y garantizar la seguridad de las personas ante contactos
            indirectos.
            <br>
            Los servicios que ofrece SYNERGOed:
        </p>
        <ul class="px-3">
            <li>Estudio de Resistividad del Terreno</li>
            <li>Dimensionamiento de Sistemas de Puesta a Tierra</li>
            <li>Instalación de Puesta a Tierra</li>
            <li>Tratamiento de Pozos en Puesta a Tierra</li>
            <li>Mantenimiento del Sistema de Puesta a Tierra</li>
        </ul>
    </CardEsp>
    <CardEsp
        id="cableado-estructurado"
        title="Cableado Estructurado"
        image="/cab-estr/cab-estr3.jpg"
    >
    <p>Ofrecemos servicios de Cableado Estructurado
    y productos para las redes de voz y datos de su
    oficina, edificio o empresa con el objetivo de
    dotarle y ofrecerle conectividad en todos sus
    equipos activos, de diferentes o igual tecnología.
    <br>
    <br>
    Es decir, todo lo referente a los sistemas de cableado estructurado, redes de datos, cableado
    red, redes de datos y cableado Voz y Datos.
    <br>
    <br>
    Trabajamos con marcas reconocidas y certificadas como ser: SIEMON, FURUKAWA, entre
    otras.
    </p>
    </CardEsp>
</Layout>
