---
import LogoSynergo from "./LogoSynergo.astro";
---

<footer class="relative z-40 mt-10 flex flex-wrap-reverse justify-center gap-7 items-center md:grid md:grid-cols-2 bg-[rgb(1,19,39)] py-7 px-4 md:place-items-center text-white">
    <div class="flex flex-col">
       <div class="w-[100%]">
        <LogoSynergo />
       </div>
       <small class="pl-4 text-center">
        "APLICANDO LOS ULTIMOS <br> AVANCES TECNOLOGICOS"
       </small>
    </div>
    <div class="flex flex-col">
        <h4 class="text-lg">Comunicate con SYNERGOed</h4>
        <a href="https://wa.link/4m4hdg" class="text-lg pl-1 text-yellow-300 md:mb-4" href="">+591 72026914</a>
        <a class="pl-1 text-yellow-300 text-lg" href="" target="_blank">synergoed@gmail.com</a>
    </div>
    <small class="absolute bottom-1"> &#169 Synergo ed 2024</small>
</footer>