---
import LogoSynergo from "./LogoSynergo.astro";
---

<footer class="relative z-40 mt-10 grid grid-cols-2 bg-[rgb(1,19,39)] py-6 px-4 place-items-center text-white">
    <div class="flex flex-col">
       <div class="w-[100%]">
        <LogoSynergo />
       </div>
       <small class="pl-4">
        "APLICANDO LOS ULTIMOS <br> AVANCES TECNOLOGICOS"
       </small>
    </div>
    <div class="flex flex-col">
        <h4 class="text-sm">Comunicate con SynergoED</h4>
        <a href="https://wa.link/4m4hdg" class="text-sm pl-1 text-yellow-300 " href="">+591 72026914</a>
        <a class="pl-1 text-yellow-300 " href="">synergoed@gmail.com</a>
    </div>
</footer>