<div
		class="h-[87vh] w-full relative flex justify-center items-center text-center"
	>
		<div
			class="absolute w-full h-full bg-blue-950 rounded-bl-[170px] opacity-90 z-0"
		>
			<img
				class="w-full h-full opacity-40 object-cover rounded-bl-[5000px] rounded-tr-[8000px]"
				src="/Logos/fondoElectrico.jpg"
				alt="fonde electrico"
			/>
		</div>
		<h1 class="p-10 z-10 text-4xl font-bold text-white">
			En SYNERGOED ofrecemos un servicio integral en instalaciones
			eléctricas y conexiones de red.
		</h1>
	</div>